<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>


<mat-toolbar md-scroll-shrink>
  
  <button type="button" class="btn group-add btn-light"><i class="material-icons md-36 group-add-icon"> person_add </i></button>

  <mat-form-field>
      <mat-select placeholder="Groupt Chat">
        <mat-option> Friend 0 </mat-option>  
        <mat-option> Friend 0 </mat-option>
      </mat-select>
  </mat-form-field>


  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  
  <button class="btn group-close btn-light"><i class="material-icons md-36"> close </i></button>

</mat-toolbar>

<div class="chatarea">
  
</div>

<div class="input-group">
    <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>     
    <span class="input-group-addon btn btn-success">Send</span>
</div>
