.material-icons.md-36 { font-size: 36px; color:blueviolet; padding-right: 0.5%}

.material-icons.group-add-icon { color:slategray; padding-right: 5%;}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 0 auto;    
}

.mat-form-field {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    color: blueviolet;
}

.chatarea{
    height: 70%;
    border-style: solid;
    border-width: thin;
    border-color: gainsboro;
}