<mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>MR. X</mat-card-title>
		<mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
</mat-card>

<mat-card [style.backgroundColor]="'yellow'">
  	<mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>MR. X</mat-card-subtitle>
      </mat-card-header>
</mat-card>

<mat-card [style.backgroundColor]="'red'">Person 2</mat-card>
<mat-card [style.backgroundColor]="'cyan'">Person 3</mat-card>
<mat-card>Person 4</mat-card>
<mat-card>Person 5</mat-card>
<mat-card>Person 6</mat-card>
<mat-card>Person 7</mat-card>
<mat-card>Person 8</mat-card>
